
   
  /* Style for the form and its elements */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; /* Adjust the maximum width of the form */
    margin: 0 auto;
    gap:8px;
    padding: 16px; 
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
    

/* Style for labels */
form label {
    margin-bottom: 4px; /* Add margin below the labels */
    font-weight: bold; /* increase font weight for better visibility */
    text-align: left; /* Ensure labels are aligned to the left */
    color: #333;
}
   

  /* Style for input fields and textarea */
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
  }
  
  form textarea {
    height: 100px;
    resize: vertical; /* Allow the user to vertically resize the textarea */
  }
  
  /* Style for submit button */
  form button {
    padding: 0.75em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  /* Style for error messages */
  form p {
    color: red;
    margin-top: -0.5em;
    margin-bottom: 1em;
    font-size: 0.875em;
  }
  