.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    background: url('../assets/imageBody.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 2px;
    margin-left: 0;
  }
  
  .home-content {
    flex: 1;
    text-align: left;
  }
  
  
  

  /*img{
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: bottom;
    overflow: hidden;
    background-color: white; /* Optional: Set a background color for any empty space */
   
   /* align-items: center;
  justify-content: center;
  
   
    object-fit: cover; /* Ensure the entire image fits within the container */
   /* object-position: center; /* Center the image within the container */
   
  
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
 
  
 img {
    width: 250px;
    height: 250px;
    border-radius: 50%; /* Ensure circular shape */
    margin-right: 200px; /* Reasonable space between image and text */
    object-fit: cover;
    object-position: center;
    align-items: center;
  justify-content: center;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .text-container h3,
  .text-container p {
  
    text-align: left;
    margin-right: 200px;
  }
  